@import "tailwindcss";


@theme {
  --font-display: Titillium,  Montserrat, Open Sans;
  
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  background: #02080B;
  max-width: 100vw;

}

